force-app/main/default/flows/Davos_Registration_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Attendee_From_QR</name>
        <label>Get Attendee From QR</label>
        <locationX>774</locationX>
        <locationY>446</locationY>
        <actionName>Dreampass_ScanQRAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Attendee_Found</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>requests</name>
            <value>
                <elementReference>scanvalue</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>objAttendee</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Error_Text_No_Attendee</name>
        <label>Assign Error Text No Attendee</label>
        <locationX>1500</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>strErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You did not select an attendee. Please go back and either select an attendee or create a new one.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attendee_Not_Found</name>
        <label>Attendee Not Found</label>
        <locationX>1236</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>strErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error retrieving Account data. Please go back and try again.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceEmployee</name>
        <choiceText>SalesforceEmployee/Staff</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employee</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceGuest</name>
        <choiceText>Guest Attendee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Guest</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceVIP</name>
        <choiceText>VIP (White badge holders/spouses, GREEN accompanying, GREEN media/com, or GREY temporary)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VIP</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Attendee_Search_Outcome</name>
        <label>Attendee Search Outcome</label>
        <locationX>1104</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_Text_No_Attendee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ScreenNewAttendeeYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateNewAttendee</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Attendee</targetReference>
            </connector>
            <label>New Attendee</label>
        </rules>
        <rules>
            <name>Attendee_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedSearchAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Attendee_From_Search</targetReference>
            </connector>
            <label>Attendee Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Attendee_Found</name>
        <label>Is Attendee Found?</label>
        <locationX>774</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Attendee_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AttendeeFoundYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objAttendee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Information</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Attendee_Found_From_Get_Record</name>
        <label>Is Attendee Found From Get Record?</label>
        <locationX>1104</locationX>
        <locationY>1046</locationY>
        <defaultConnector>
            <targetReference>Attendee_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Attendee_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objAttendee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Information</targetReference>
            </connector>
            <label>Attendee Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>VIPAccessDecision</name>
        <label>Is VIP Access</label>
        <locationX>477</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Get_Attendee_From_QR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isVIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VIPAccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_VIP_Attendee</targetReference>
            </connector>
            <label>VIP</label>
        </rules>
    </decisions>
    <interviewLabel>Davos Registration Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Davos Registration Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Attendee_Record</name>
        <label>Create Attendee</label>
        <locationX>708</locationX>
        <locationY>1166</locationY>
        <assignRecordIdToReference>CreatedAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Attendee_After_Create</targetReference>
        </connector>
        <inputAssignments>
            <field>CompanyName__c</field>
            <value>
                <elementReference>New_CompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>New_FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>New_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>New_DOB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>New_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Person_Account_RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_VIP</name>
        <label>Create VIP</label>
        <locationX>180</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_VIP_After_Create</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>VIP_FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>VIP_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>VIP_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Person_Account_RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Attendee_After_Create</name>
        <label>Get Attendee After Create</label>
        <locationX>708</locationX>
        <locationY>1286</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerifyProtocols</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>objAttendee</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>PersonBirthdate</queriedFields>
        <queriedFields>CompanyName__c</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Attendee_From_Search</name>
        <label>Get Attendee From Search</label>
        <locationX>1012</locationX>
        <locationY>918</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Attendee_Found_From_Get_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedSearchAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>objAttendee</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>PersonBirthdate</queriedFields>
        <queriedFields>CompanyName__c</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_RecordTypeId</name>
        <label>Get Person Account RecordTypeId</label>
        <locationX>708</locationX>
        <locationY>1046</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Attendee_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SDO_PersonAccounts</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_VIP_After_Create</name>
        <label>Get VIP After Create</label>
        <locationX>180</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>objAttendee</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>PersonBirthdate</queriedFields>
        <queriedFields>CompanyName__c</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <screens>
        <name>Attendee_Search</name>
        <label>Attendee Search</label>
        <locationX>1104</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Attendee_Search_Outcome</targetReference>
        </connector>
        <fields>
            <name>DisplayAttendeeInfo_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px; color: rgb(3, 45, 96);&quot;&gt;Attendee Search&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Search for the attendee below. If you can not find the attendee, select “Create New”.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>accountSearchDT</name>
            <extensionName>c:Dreampass_AttendeeSearch</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedSearchAccountId</assignToReference>
                <name>selectedAccountID</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CreateNewAttendee</assignToReference>
                <name>createNewAttendee</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Complete</name>
        <label>Complete</label>
        <locationX>180</locationX>
        <locationY>1186</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>spacercomplete</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>checkimage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>bluecheck</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>60</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dispTextComplete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px; color: rgb(3, 45, 96);&quot;&gt;﻿Registration Complete!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;A Dreampass was emailed to &quot;&lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!objAttendee.PersonEmail}&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&quot;. Use this to gain access to all Salesforce Spaces.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Note: this Dreampass will be valid for 36hrs. &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Please ensure to receive an onsite PCR test to extend the Dreampass&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; for the remainder of the event.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px; color: rgb(3, 45, 96);&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>New Check In</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Attendee</name>
        <label>Create Attendee</label>
        <locationX>708</locationX>
        <locationY>926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Person_Account_RecordTypeId</targetReference>
        </connector>
        <fields>
            <name>DisplayAttendeeInfo_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px; color: rgb(3, 45, 96);&quot;&gt;Create New Attendee&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Make sure to verify with Splash team that this attendee is authorized to be given a Dreampass. Then e&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;nter attendee information below. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_Attendee_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Attendee_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_FirstName</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>New_LastName</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>New_Email</name>
                    <dataType>String</dataType>
                    <fieldText>Email Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Attendee_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_DOB</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>New_CompanyName</name>
                    <dataType>String</dataType>
                    <fieldText>Company Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>New_SplashId</name>
                    <dataType>String</dataType>
                    <fieldText>Splash ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;To prevent duplicate attendees from being created, enter the Id of the attendee from Splash (if it exists)&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_AttendeeType</name>
            <choiceReferences>ChoiceVIP</choiceReferences>
            <choiceReferences>ChoiceEmployee</choiceReferences>
            <choiceReferences>ChoiceGuest</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ChoiceGuest</defaultSelectedChoiceReference>
            <fieldText>Attendee Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_VIP_Attendee</name>
        <label>Create VIP Attendee</label>
        <locationX>180</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_VIP</targetReference>
        </connector>
        <fields>
            <name>createVIPText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px; color: rgb(3, 45, 96);&quot;&gt;Create New VIP&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;E&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;nter VIP information below to generate a Dreampass instantly&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VIP_FirstName</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VIP_LastName</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VIP_Email</name>
            <dataType>String</dataType>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1104</locationX>
        <locationY>1682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <fields>
            <name>DisplayAttendeeInfo_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(3, 45, 96); font-size: 36px;&quot;&gt;There&apos;s a Problem&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!strErrorText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Information</name>
        <label>Review Information</label>
        <locationX>180</locationX>
        <locationY>945</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <fields>
            <name>DisplayAttendeeInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(3, 45, 96); font-size: 36px;&quot;&gt;Review Attendee Info&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Please confirm the information below is correct&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Review_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ReviewDisplayText</name>
                    <fieldText>&lt;p&gt;Name&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Date of Birth&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.PersonBirthdate}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Email&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.PersonEmail}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Company&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.CompanyName__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>covidTestTile</name>
                    <extensionName>c:Dreampass_HVTile</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayText</name>
                        <value>
                            <elementReference>CovidTestText</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Information_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VaccineTile</name>
                    <extensionName>c:Dreampass_HVTile</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayText</name>
                        <value>
                            <elementReference>VaccineText</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Looks Good</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scan_QR_Code</name>
        <label>Scan QR Code</label>
        <locationX>477</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VIPAccessDecision</targetReference>
        </connector>
        <fields>
            <name>DispTextStart</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(3, 45, 96); font-size: 36px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Welcome to Davos&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Hold your registration QR code inside the frame. It will be scanned automatically.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flowscan</name>
            <extensionName>c:FlowScanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>rfid</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>scanvalue</assignToReference>
                <name>scanval</name>
            </outputParameters>
        </fields>
        <fields>
            <name>noQRText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;No QR Code? Proceed to manual entry.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>qrButtonGroup</name>
            <extensionName>c:Dreampass_FlowButtonGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>output1</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>input2</name>
                <value>
                    <stringValue>VIP Dreampass</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>output2</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>input3</name>
                <value>
                    <stringValue>Manual Entry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>output3</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VIPAccess</assignToReference>
                <name>output2</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VerifyProtocols</name>
        <label>Verify Documents</label>
        <locationX>708</locationX>
        <locationY>1453</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Review_Information</targetReference>
        </connector>
        <fields>
            <name>DisplayAttendeeInfo_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(3, 45, 96); font-size: 36px;&quot;&gt;Verify Documents&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;This attendee needs to have protocol documents verified before we can issue a Dreampass&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VerifyProtocols_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VerifyProtocols_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>attendeeinfo1</name>
                    <fieldText>&lt;p&gt;Name:&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Date of Birth:&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.PersonBirthdate}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>VerifyProtocols_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>attendeeinfo2</name>
                    <fieldText>&lt;p&gt;Email:&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96); background-color: rgb(255, 255, 255);&quot;&gt;{!objAttendee.PersonEmail}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Company:&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.CompanyName__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MatchID</name>
            <dataType>Boolean</dataType>
            <fieldText>Attendee ID matches the information provided above</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VerifyVax</name>
            <dataType>Boolean</dataType>
            <fieldText>Attendee has a Vaccine Card that confirms they are fully vaccinated. (Fully vaccinated is THREE doses)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Attendee_has_proof_of_a_recent_72hr_PCR_24hr_Rapid_negative_COVID_19_test_result</name>
            <dataType>Boolean</dataType>
            <fieldText>Attendee has proof of a recent (72hr PCR, 24hr Rapid) negative COVID-19 test result</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>351</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Scan_QR_Code</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CovidTestText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Negative COVID-19 Test Verified</stringValue>
        </value>
    </variables>
    <variables>
        <name>CreatedAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateNewAttendee</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>objAttendee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>scanvalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSearchAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strErrorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VaccineText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Vaccination Verified</stringValue>
        </value>
    </variables>
    <variables>
        <name>VIPAccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
