force-app/main/default/flows/Davos_Self_Service_Checkin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Attendee_From_QR</name>
        <label>Get Attendee From QR</label>
        <locationX>1182</locationX>
        <locationY>505</locationY>
        <actionName>Dreampass_ScanQRAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Attendee_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>requests</name>
            <value>
                <elementReference>scanvalue</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>objAttendee</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Covid_Test_Status</name>
        <label>Get Covid Test Status</label>
        <locationX>1239</locationX>
        <locationY>1576</locationY>
        <actionName>Dreampass_CovidTestVerified</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Everything_Set</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accoundIds</name>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isCovidTestVerified</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Covid_Test_Status_0</name>
        <label>Get Covid Test Status</label>
        <locationX>1326</locationX>
        <locationY>2518</locationY>
        <actionName>Dreampass_CovidTestVerified</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Everything_Set_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accoundIds</name>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isCovidTestVerified</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Covid_Test_Status_0_0_0</name>
        <label>Get Covid Test Status</label>
        <locationX>228</locationX>
        <locationY>1404</locationY>
        <actionName>Dreampass_CovidTestVerified</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Do_we_need_to_create_a_VIP_HV_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accoundIds</name>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isCovidTestVerified</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Vax_Status</name>
        <label>Get Vax Status</label>
        <locationX>1462</locationX>
        <locationY>1576</locationY>
        <actionName>Dreampass_VaxVerifyAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Covid_Test_Status</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accoundIds</name>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isVaxVerified</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Vax_Status_0</name>
        <label>Get Vax Status</label>
        <locationX>1515</locationX>
        <locationY>2073</locationY>
        <actionName>Dreampass_VaxVerifyAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Unverified_Covid_Test</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accoundIds</name>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isVaxVerified</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Vals</name>
        <label>Assign Vals</label>
        <locationX>2574</locationX>
        <locationY>832</locationY>
        <assignmentItems>
            <assignToReference>objAttendee.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAttendee.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAttendee.PersonBirthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_DOB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAttendee.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>update_street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAttendee.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>update_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAttendee.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>update_state</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAttendee.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>update_PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAttendee.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>update_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatedAccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAttendee.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>update_phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAttendee.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>update_gender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAttendee.Dreampass_CompanyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>update_CompanyName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Covid_Test_Vars</name>
        <label>Set Covid Test Vars</label>
        <locationX>1979</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>CovidTestText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending COVID Test</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>covidtestcolor</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>#F19F51</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>covidicon</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>warning</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CovidTest_HV_Needs_to_be_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Vax_Pills</name>
        <label>Set Vax Pills</label>
        <locationX>1757</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>VaccineText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outstanding Vaccine Verification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaxcolor</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>#D17B6D</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaxicon</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>redcross</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Unverified_Covid_Test</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_VIP_Text</name>
        <label>Set VIP Text</label>
        <locationX>765</locationX>
        <locationY>1359</locationY>
        <assignmentItems>
            <assignToReference>VaccineText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vaccination protocol verified by World Economic Forum</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CovidTestText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negative COVID-19 test verified by World Economic Forum</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reviewText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This attendee has their health protocols verified by the World Economic Forum. Salesforce will not independently verify this information.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Covid_Test_Status_0_0_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceEmployee</name>
        <choiceText>SalesforceEmployee/Staff</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employee</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceGuest</name>
        <choiceText>Guest Attendee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Guest</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceVIP</name>
        <choiceText>VIP (White badge holders/spouses, GREEN accompanying, GREEN media/com, or GREY temporary)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VIP</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Attendee_Search_Outcome</name>
        <label>Attendee Search Outcome</label>
        <locationX>2430</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Update_Attendee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ScreenNewAttendeeYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objAttendee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Attendee</targetReference>
            </connector>
            <label>New Attendee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Attendee_Type</name>
        <label>Attendee Type</label>
        <locationX>1330</locationX>
        <locationY>1362</locationY>
        <defaultConnector>
            <targetReference>Get_Vax_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isVIPdecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objAttendee.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_VIP_Text</targetReference>
            </connector>
            <label>VIP</label>
        </rules>
        <rules>
            <name>isEmployee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objAttendee.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Covid_Test_Status</targetReference>
            </connector>
            <label>Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Covid_Test_Missing</name>
        <label>Covid Test Missing?</label>
        <locationX>1975</locationX>
        <locationY>2211</locationY>
        <defaultConnector>
            <targetReference>Everything_Set_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COVIDTestHVNeedsCreation_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCovidTestVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Covid_Test_Vars</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CovidTest_HV_Needs_to_be_Created</name>
        <label>CovidTest HV Needs to be Created?</label>
        <locationX>2108</locationX>
        <locationY>2557</locationY>
        <defaultConnector>
            <targetReference>Everything_Set_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COVIDTestHVNeedsCreation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCovidTestVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Unverified_Covid_Test</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Covid_Test_Status_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_need_to_create_a_VIP_HV_Record</name>
        <label>Do we need to create a VIP HV Record?</label>
        <locationX>541</locationX>
        <locationY>1493</locationY>
        <defaultConnector>
            <targetReference>Review_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VIPYesCovidTest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCovidTestVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CovidTest_HV_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_need_to_verify_Tests</name>
        <label>Do we need to verify Tests?</label>
        <locationX>869</locationX>
        <locationY>2877</locationY>
        <defaultConnector>
            <targetReference>Error_Screen_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Verify_Tests</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>verifyTests</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Test_Results</targetReference>
            </connector>
            <label>Verify Test</label>
        </rules>
    </decisions>
    <decisions>
        <name>Everything_Set</name>
        <label>Everything Set?</label>
        <locationX>1365</locationX>
        <locationY>1737</locationY>
        <defaultConnector>
            <targetReference>Vax_HV_Needs_to_be_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Requirements_Met</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>isCovidTestVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isVaxVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objAttendee.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Information</targetReference>
            </connector>
            <label>All Requirements Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>Everything_Set_0</name>
        <label>Everything Set 2?</label>
        <locationX>1160</locationX>
        <locationY>2715</locationY>
        <defaultConnector>
            <targetReference>Review_Information_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Requirements_Met_0</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>isCovidTestVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isVaxVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objAttendee.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Information</targetReference>
            </connector>
            <label>All Requirements Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Attendee_Found</name>
        <label>Is Attendee Found?</label>
        <locationX>1330</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Attendee_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AttendeeFoundYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objAttendee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Attendee</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Attested</name>
        <label>Is Attested</label>
        <locationX>1552</locationX>
        <locationY>1832</locationY>
        <defaultConnector>
            <targetReference>Skip_Vax</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Attested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdMatched</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VaxMatched</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Vax_HV</targetReference>
            </connector>
            <label>Attested</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vax_HV_Needs_to_be_Created</name>
        <label>Vax HV Needs to be Created?</label>
        <locationX>1987</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Get_Unverified_Covid_Test</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VaxHVNeedsCreation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isVaxVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objAttendee.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_Vax</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_needs_to_be_updated</name>
        <label>What needs to be updated?</label>
        <locationX>392</locationX>
        <locationY>2190</locationY>
        <defaultConnector>
            <targetReference>Check_In_Attendee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nothingneedsupdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objAttendee.Dreampass_Checkin_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete</targetReference>
            </connector>
            <label>Nothing</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>genderset</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Davos - Self Service Checkin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Davos - Self Service Checkin</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Attendee_Record</name>
        <label>Create Attendee</label>
        <locationX>2794</locationX>
        <locationY>769</locationY>
        <assignRecordIdToReference>CreatedAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Attendee_After_Create</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Dreampass_CompanyName__c</field>
            <value>
                <elementReference>New_CompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>new_FirstName_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>new_gender_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>new_LastName_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>new_DOB_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>new_Email_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>new_City_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
            <value>
                <elementReference>new_Country_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>new_PostalCode_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>new_state_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>new_street_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>new_phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Person_Account_RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>new_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_CovidTest_HV</name>
        <label>Create Covid Test HV</label>
        <locationX>1462</locationX>
        <locationY>2283</locationY>
        <assignRecordIdToReference>testHVId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Record_for_QR_0</targetReference>
        </connector>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>objAttendee.PersonBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>objAttendee.Dreampass_CompanyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dreampass_AttendeeType__c</field>
            <value>
                <elementReference>objAttendee.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__EmailToReceiveNotifications__c</field>
            <value>
                <elementReference>objAttendee.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__EventDate__c</field>
            <value>
                <dateValue>2022-05-22</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__ExternalId__c</field>
            <value>
                <stringValue>covidtest-{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__FirstName__c</field>
            <value>
                <elementReference>objAttendee.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HasNotificationConsent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HasReadTerms__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HealthVerificationDocumentDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HealthVerificationMethod__c</field>
            <value>
                <stringValue>Negative COVID-19 test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HealthVerificationStatus__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__Language__c</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__LastName__c</field>
            <value>
                <elementReference>objAttendee.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__PersonAccount__c</field>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__PhoneNumber__c</field>
            <value>
                <elementReference>objAttendee.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>vaxhv__Health_Verification__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_CovidTest_HV_0</name>
        <label>Create Covid Test HV</label>
        <locationX>376</locationX>
        <locationY>1634</locationY>
        <assignRecordIdToReference>testHVId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Record_for_QR</targetReference>
        </connector>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>objAttendee.PersonBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <stringValue>VIP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dreampass_AttendeeType__c</field>
            <value>
                <elementReference>objAttendee.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__EmailToReceiveNotifications__c</field>
            <value>
                <elementReference>objAttendee.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__EventDate__c</field>
            <value>
                <dateValue>2022-05-22</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__ExternalId__c</field>
            <value>
                <stringValue>covidtest-{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__FirstName__c</field>
            <value>
                <elementReference>objAttendee.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HasNotificationConsent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HasReadTerms__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HealthVerificationDocumentDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HealthVerificationMethod__c</field>
            <value>
                <stringValue>Negative COVID-19 test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HealthVerificationStatus__c</field>
            <value>
                <stringValue>Verified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__Language__c</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__LastName__c</field>
            <value>
                <elementReference>objAttendee.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__PersonAccount__c</field>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__PhoneNumber__c</field>
            <value>
                <elementReference>objAttendee.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>vaxhv__Health_Verification__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Vax_HV</name>
        <label>Create Vax HV</label>
        <locationX>1314</locationX>
        <locationY>1897</locationY>
        <assignRecordIdToReference>testHVId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Record_for_QR_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>objAttendee.PersonBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>objAttendee.Dreampass_CompanyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dreampass_AttendeeType__c</field>
            <value>
                <elementReference>objAttendee.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__EmailToReceiveNotifications__c</field>
            <value>
                <elementReference>objAttendee.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__EventDate__c</field>
            <value>
                <dateValue>2022-05-22</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__ExternalId__c</field>
            <value>
                <stringValue>vax-{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__FirstName__c</field>
            <value>
                <elementReference>objAttendee.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HasNotificationConsent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HasReadTerms__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HealthVerificationDocumentDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HealthVerificationMethod__c</field>
            <value>
                <stringValue>Proof of vaccination</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HealthVerificationStatus__c</field>
            <value>
                <stringValue>Verified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__Language__c</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__LastName__c</field>
            <value>
                <elementReference>objAttendee.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__PersonAccount__c</field>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__PhoneNumber__c</field>
            <value>
                <elementReference>objAttendee.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>vaxhv__Health_Verification__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Attendee_After_Create</name>
        <label>Get Attendee After Create</label>
        <locationX>2617</locationX>
        <locationY>1173</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Error_Screen_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>objAttendee</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>PersonBirthdate</queriedFields>
        <queriedFields>Dreampass_CompanyName__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Dreampass_Checkin_Time__c</queriedFields>
        <queriedFields>Dreampass_OnsitePCRTestDate__c</queriedFields>
        <queriedFields>Dreampass_Revoked__c</queriedFields>
        <queriedFields>Dreampass_DreambandID__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Dreampass_PhotoURL__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Attendee_From_Search</name>
        <label>Get Attendee From Search</label>
        <locationX>2131</locationX>
        <locationY>607</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attendee_Search_Outcome</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>email_search</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>objAttendee</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>PersonBirthdate</queriedFields>
        <queriedFields>Dreampass_CompanyName__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Dreampass_Revoked__c</queriedFields>
        <queriedFields>Dreampass_Checkin_Time__c</queriedFields>
        <queriedFields>Dreampass_OnsitePCRTestDate__c</queriedFields>
        <queriedFields>Dreampass_DreambandID__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Dreampass_PhotoURL__c</queriedFields>
        <queriedFields>PersonMailingStreet</queriedFields>
        <queriedFields>PersonMailingPostalCode</queriedFields>
        <queriedFields>PersonMailingCity</queriedFields>
        <queriedFields>PersonMailingCountry</queriedFields>
        <queriedFields>PersonMailingState</queriedFields>
        <queriedFields>Gender__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_RecordTypeId</name>
        <label>Get Person Account RecordTypeId</label>
        <locationX>914</locationX>
        <locationY>184</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scan_QR_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unverified_Covid_Test</name>
        <label>Get Unverified Covid Test</label>
        <locationX>1982</locationX>
        <locationY>2025</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Covid_Test_Missing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vaxhv__PersonAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>vaxhv__HealthVerificationStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>vaxhv__HealthVerificationMethod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Negative COVID-19 test</stringValue>
            </value>
        </filters>
        <filters>
            <field>safetycloud__OccurrenceId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vaxhv__Health_Verification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Check_In_Attendee</name>
        <label>Check In Attendee</label>
        <locationX>533</locationX>
        <locationY>2327</locationY>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dreampass_Checkin_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>2470</locationX>
        <locationY>975</locationY>
        <connector>
            <targetReference>Get_Attendee_After_Create</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>objAttendee</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_for_QR</name>
        <label>Update Record for QR</label>
        <locationX>381</locationX>
        <locationY>1820</locationY>
        <connector>
            <targetReference>Review_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>testHVId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>safetycloud__TestDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__PersonAccount__c</field>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </inputAssignments>
        <object>vaxhv__Health_Verification__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_for_QR_0</name>
        <label>Update Record for QR</label>
        <locationX>1312</locationX>
        <locationY>2285</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>testHVId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>vaxhv__PersonAccount__c</field>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </inputAssignments>
        <object>vaxhv__Health_Verification__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_for_QR_0_0</name>
        <label>Update Record for QR</label>
        <locationX>1206</locationX>
        <locationY>2007</locationY>
        <connector>
            <targetReference>Get_Vax_Status_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>testHVId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>vaxhv__PersonAccount__c</field>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__VaccineBrandName__c</field>
            <value>
                <stringValue>Pfizer-BioNTech</stringValue>
            </value>
        </inputAssignments>
        <object>vaxhv__Health_Verification__c</object>
    </recordUpdates>
    <screens>
        <name>Attendee_Search</name>
        <label>Attendee Search</label>
        <locationX>1809</locationX>
        <locationY>609</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Attendee_From_Search</targetReference>
        </connector>
        <fields>
            <name>DisplayAttendeeInfo_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px; color: rgb(3, 45, 96);&quot;&gt;Attendee Search&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Enter your email used for Safety Cloud and click Next&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>email_search</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Complete</name>
        <label>Complete</label>
        <locationX>407</locationX>
        <locationY>2518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>spacercomplete</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>bluecheck</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>bluecheck</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>60</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dispTextComplete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px; color: rgb(3, 45, 96);&quot;&gt;Check In Complete!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;A Dreampass was emailed to &quot;&lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!objAttendee.PersonEmail}&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&quot;. Use this to gain access to all Salesforce Spaces.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Note: this Dreampass will be valid for 36hrs. Please take&lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt; an onsite PCR test &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;(if you haven&apos;t already done so) to extend the Dreampass for the remainder of the event.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px; color: rgb(3, 45, 96);&quot;&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Attendee</name>
        <label>Create Attendee</label>
        <locationX>2700</locationX>
        <locationY>602</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Attendee_Record</targetReference>
        </connector>
        <fields>
            <name>DisplayAttendeeInfo_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px; color: rgb(3, 45, 96);&quot;&gt;New Attendee Info&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Please verify your information below: &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_Attendee_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Attendee_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>new_FirstName_0</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>new_LastName_0</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>new_gender_0</name>
                    <choiceReferences>genderset</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>objAttendee.Gender__c</elementReference>
                    </defaultValue>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>new_DOB_0</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Birth (mm/dd/yyyy)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>new_Email_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>email_search</elementReference>
                    </defaultValue>
                    <fieldText>Email Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>new_phone</name>
                    <dataType>String</dataType>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>New_CompanyName</name>
                    <dataType>String</dataType>
                    <fieldText>Company Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Attendee_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>new_street_0</name>
                    <dataType>String</dataType>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>new_City_0</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>new_state_0</name>
                    <dataType>String</dataType>
                    <fieldText>State</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>new_PostalCode_0</name>
                    <dataType>String</dataType>
                    <fieldText>Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>new_Country_0</name>
                    <dataType>String</dataType>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>new_Type</name>
            <choiceReferences>ChoiceEmployee</choiceReferences>
            <choiceReferences>ChoiceGuest</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ChoiceEmployee</defaultSelectedChoiceReference>
            <fieldText>Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>2310</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <fields>
            <name>DisplayAttendeeInfo_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px; color: rgb(3, 45, 96);&quot;&gt;There&apos;s a Problem&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_0</name>
        <label>Terms and Conditions</label>
        <locationX>1875</locationX>
        <locationY>1326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Attendee_Type</targetReference>
        </connector>
        <fields>
            <name>DisplayAttendeeInfo_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px; color: rgb(3, 45, 96);&quot;&gt;Terms and Conditions&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Please accept the terms and conditions before continuing&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>q1</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm that I am at least 18 years old and am: (1) submitting verification form information for myself; or (2) a parent, guardian, or other legal representative authorized to submit verification information on behalf of a minor or other individual(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>q2</name>
            <dataType>Boolean</dataType>
            <fieldText>I agree to receive status updates via email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>q3</name>
            <dataType>Boolean</dataType>
            <fieldText>I have: (1) read and understand the Terms and Conditions and the Privacy Notice; and (2) consent that Salesforce.com (http://salesforce.com/) Inc. may process information regarding my health status, (COVID-19 vaccination status and testing results) to ensure the health and safety of our in-person attendees and the community at Davos. I can withdraw my consent at any time.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>morets</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;nbsp;If you are located in the European Economic Area (EEA) or the UK, please note that it may be required to store and process your personal data in a country (for example, the United States) which may not provide for the same level of protection as in the EEA/the UK. Details on how Salesforce processes your personal data and your related rights are set out in the Salesforce Privacy Statement.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_0_0</name>
        <label>Error Screen</label>
        <locationX>612</locationX>
        <locationY>2884</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayAttendeeInfo_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px; color: rgb(3, 45, 96);&quot;&gt;Check in not completed&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;There are outstanding protocols required before a Dreampass can be granted. Ask a Salesforce employee to assist in the outstanding items.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Information</name>
        <label>Review Information</label>
        <locationX>736</locationX>
        <locationY>1906</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Upload_Profile_Picture</targetReference>
        </connector>
        <fields>
            <name>DisplayAttendeeInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(3, 45, 96); font-size: 36px;&quot;&gt;Review Attendee Info&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!reviewText}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Review_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>alreadycheckedintext</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 104, 75);&quot;&gt;Attendee already checked in&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>objAttendee.Dreampass_Checkin_Time__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ReviewDisplayText</name>
                    <fieldText>&lt;p&gt;Name&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Attendee Type&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Date of Birth&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.PersonBirthdate}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Email&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.PersonEmail}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Company&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96); background-color: rgb(255, 255, 255);&quot;&gt;{!objAttendee.Dreampass_CompanyName__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>covidTestTile</name>
                    <extensionName>c:Dreampass_HVTile</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayText</name>
                        <value>
                            <elementReference>CovidTestText</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Information_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VaccineTile</name>
                    <extensionName>c:Dreampass_HVTile</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayText</name>
                        <value>
                            <elementReference>VaccineText</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>objAttendee.Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Guest</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>objAttendee.Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>VIP</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Check in</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Information_0</name>
        <label>Review Information</label>
        <locationX>1167</locationX>
        <locationY>2877</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Do_we_need_to_verify_Tests</targetReference>
        </connector>
        <fields>
            <name>DisplayAttendeeInfo_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px; color: rgb(3, 45, 96);&quot;&gt;Testing Check in Complete&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Below are the outstanding protocols required before a Dreampass can be granted. Ask a Salesforce employee to assist in the outstanding items.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Review_Information_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Information_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>alreadycheckedintext_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 104, 75);&quot;&gt;Attendee already checked in&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>objAttendee.Dreampass_Checkin_Time__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ReviewDisplayText_0</name>
                    <fieldText>&lt;p&gt;Name&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Attendee Type&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Date of Birth&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.PersonBirthdate}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Email&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.PersonEmail}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Company&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96); background-color: rgb(255, 255, 255);&quot;&gt;{!objAttendee.Dreampass_CompanyName__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Information_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>covidTestTile_0</name>
                    <extensionName>c:Dreampass_HVTile</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayText</name>
                        <value>
                            <elementReference>CovidTestText</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>staticresource</name>
                        <value>
                            <elementReference>covidicon</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>backgroundColor</name>
                        <value>
                            <elementReference>covidtestcolor</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Information_0_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VaccineTile_0</name>
                    <extensionName>c:Dreampass_HVTile</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayText</name>
                        <value>
                            <elementReference>VaccineText</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>backgroundColor</name>
                        <value>
                            <elementReference>vaxcolor</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>staticresource</name>
                        <value>
                            <elementReference>vaxicon</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>objAttendee.Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Guest</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>verifybuttons</name>
            <extensionName>c:Dreampass_FlowButtonGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>input3</name>
                <value>
                    <stringValue>Verify tests and Check In</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>input2</name>
                <value>
                    <stringValue>Finish without Check In</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>output3</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>verifyTests</assignToReference>
                <name>output3</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scan_QR_Code</name>
        <label>Scan QR Code</label>
        <locationX>1181</locationX>
        <locationY>326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Attendee_From_QR</targetReference>
        </connector>
        <fields>
            <name>DispTextStart</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(3, 45, 96); font-size: 36px;&quot;&gt;Welcome to Davos&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;If you have a registration QR code, place it in the frame. It will be scanned automatically.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flowscan</name>
            <extensionName>c:FlowScanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>rfid</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>scanvalue</assignToReference>
                <name>scanval</name>
            </outputParameters>
        </fields>
        <fields>
            <name>noQRText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;No QR Code? Proceed to manual entry.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Manual Entry</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Skip_Vax</name>
        <label>Skip Vax</label>
        <locationX>1602</locationX>
        <locationY>1976</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>Set_Vax_Pills</targetReference>
        </connector>
        <fields>
            <name>DisplayAttendeeInfo_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px; color: rgb(3, 45, 96);&quot;&gt;Skip Vaccine Verification?&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You cannot check in until your vaccine has been verified. Either skip this for now, or go back to verify vaccination.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Skip</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Attendee</name>
        <label>Update Attendee</label>
        <locationX>2308</locationX>
        <locationY>833</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Vals</targetReference>
        </connector>
        <fields>
            <name>DisplayAttendeeInfo_0_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px; color: rgb(3, 45, 96);&quot;&gt;Verify Attendee Info&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Please verify information for &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!objAttendee.PersonEmail}&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt; below: &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Update_Attendee_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Attendee_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Update_FirstName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>objAttendee.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Update_LastName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>objAttendee.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>update_gender</name>
                    <choiceReferences>genderset</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>objAttendee.Gender__c</elementReference>
                    </defaultValue>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Update_DOB</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>objAttendee.PersonBirthdate</elementReference>
                    </defaultValue>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>update_phone</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>objAttendee.Phone</elementReference>
                    </defaultValue>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>update_CompanyName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>objAttendee.Dreampass_CompanyName__c</elementReference>
                    </defaultValue>
                    <fieldText>Company Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_Attendee_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>update_street</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>objAttendee.PersonMailingStreet</elementReference>
                    </defaultValue>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>update_City</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>objAttendee.PersonMailingCity</elementReference>
                    </defaultValue>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>update_state</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>objAttendee.PersonMailingState</elementReference>
                    </defaultValue>
                    <fieldText>State</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>update_PostalCode</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>objAttendee.PersonMailingPostalCode</elementReference>
                    </defaultValue>
                    <fieldText>Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>update_Country</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>objAttendee.PersonMailingCountry</elementReference>
                    </defaultValue>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Profile_Picture</name>
        <label>Upload Profile Picture</label>
        <locationX>594</locationX>
        <locationY>2090</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_needs_to_be_updated</targetReference>
        </connector>
        <fields>
            <name>displayPhotoUpload</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(3, 45, 96); font-size: 36px;&quot;&gt;Upload Profile Picture&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Upload a profile picture for {!objAttendee.Name}&lt;b&gt; &lt;/b&gt;by clicking &lt;b&gt;Take Photo&lt;/b&gt; and then &lt;b&gt;Save Photo. &lt;/b&gt;You can skip this step by clicking &lt;b&gt;Skip&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>profilePicSettext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(218, 105, 105);&quot;&gt;Profile picture already set&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>objAttendee.Dreampass_PhotoURL__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>uploadPicture</name>
            <extensionName>c:captureImageWebCam</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>objAttendee.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Skip</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Verify_Vax</name>
        <label>Verify Vax</label>
        <locationX>1718</locationX>
        <locationY>1830</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Attested</targetReference>
        </connector>
        <fields>
            <name>DisplayAttendeeInfo_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(3, 45, 96); font-size: 36px;&quot;&gt;Verify Vaccination&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Have a Salesforce staff member check your vaccination documents. Click next to continue.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Verify_Vax_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verify_Vax_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>attendeeinfo1_0</name>
                    <fieldText>&lt;p&gt;Name:&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Attendee Type:&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Company:&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.Dreampass_CompanyName__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Vax_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>attendeeinfo2_0</name>
                    <fieldText>&lt;p&gt;Date of Birth:&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.PersonBirthdate}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Email:&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.PersonEmail}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IdMatched</name>
            <dataType>Boolean</dataType>
            <fieldText>Attendee ID matches the information provided above, and attendee has accepted the terms and conditions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VaxMatched</name>
            <dataType>Boolean</dataType>
            <fieldText>Attendee has a Vaccine Card that confirms they are fully vaccinated. (Fully vaccinated is THREE doses)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1055</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Person_Account_RecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Set_Test_Results</name>
        <label>Set Test Results</label>
        <locationX>961</locationX>
        <locationY>2136</locationY>
        <connector>
            <targetReference>Everything_Set</targetReference>
        </connector>
        <flowName>Set_Covid_Test_Results</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>covidicon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>greencheck</stringValue>
        </value>
    </variables>
    <variables>
        <name>covidtestcolor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CovidTestText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Negative COVID-19 Test Verified</stringValue>
        </value>
    </variables>
    <variables>
        <name>CreatedAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateNewAttendee</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>dupCreateDuplicate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>dupUseExisting</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isCovidTestVerified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isVaxVerified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>objAttendee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>reviewText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>All required protocol is met for check in. Review information and click Check In</stringValue>
        </value>
    </variables>
    <variables>
        <name>scanvalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSearchAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strErrorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testHVId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VaccineText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Vaccination Verified</stringValue>
        </value>
    </variables>
    <variables>
        <name>vaxcolor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>#CDEFC4</stringValue>
        </value>
    </variables>
    <variables>
        <name>vaxicon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>greencheck</stringValue>
        </value>
    </variables>
    <variables>
        <name>verifyTests</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VIPAccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
