force-app/main/default/flows/Davos_Quick_Check_in.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Covid_Test_Status</name>
        <label>Get Covid Test Status</label>
        <locationX>1239</locationX>
        <locationY>1578</locationY>
        <actionName>Dreampass_CovidTestVerified</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Everything_Set</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accoundIds</name>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isCovidTestVerified</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Covid_Test_Status_0</name>
        <label>Get Covid Test Status</label>
        <locationX>1387</locationX>
        <locationY>2246</locationY>
        <actionName>Dreampass_CovidTestVerified</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Everything_Set_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accoundIds</name>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isCovidTestVerified</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Covid_Test_Status_0_0</name>
        <label>Get Covid Test Status</label>
        <locationX>1974</locationX>
        <locationY>1708</locationY>
        <actionName>Dreampass_CovidTestVerified</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Vax_Status_0_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accoundIds</name>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isCovidTestVerified</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Vax_Status</name>
        <label>Get Vax Status</label>
        <locationX>1462</locationX>
        <locationY>1576</locationY>
        <actionName>Dreampass_VaxVerifyAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Covid_Test_Status</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accoundIds</name>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isVaxVerified</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Vax_Status_0</name>
        <label>Get Vax Status</label>
        <locationX>1388</locationX>
        <locationY>1957</locationY>
        <actionName>Dreampass_VaxVerifyAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CovidTest_HV_Needs_to_be_Created</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accoundIds</name>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isVaxVerified</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Vax_Status_0_0</name>
        <label>Get Vax Status</label>
        <locationX>1793</locationX>
        <locationY>1722</locationY>
        <actionName>Dreampass_VaxVerifyAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Vax_HV_Needs_to_be_Created</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accoundIds</name>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isVaxVerified</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Error_That_somethings_not_met</name>
        <label>Assign Error That somethings not met</label>
        <locationX>2107</locationX>
        <locationY>2505</locationY>
        <assignmentItems>
            <assignToReference>strErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The attendee cannot check in unless all protocols are met. Please go back and validate all protocol documents are received.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceEmployee</name>
        <choiceText>SalesforceEmployee/Staff</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employee</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceGuest</name>
        <choiceText>Guest Attendee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Guest</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceVIP</name>
        <choiceText>VIP (White badge holders/spouses, GREEN accompanying, GREEN media/com, or GREY temporary)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VIP</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Attendee_Type</name>
        <label>Attendee Type</label>
        <locationX>1330</locationX>
        <locationY>1362</locationY>
        <defaultConnector>
            <targetReference>Get_Vax_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isVIPdecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objAttendee.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIP</stringValue>
                </rightValue>
            </conditions>
            <label>VIP</label>
        </rules>
        <rules>
            <name>isEmployee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objAttendee.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Covid_Test_Status</targetReference>
            </connector>
            <label>Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>CovidTest_HV_Needs_to_be_Created</name>
        <label>CovidTest HV Needs to be Created?</label>
        <locationX>1570</locationX>
        <locationY>2023</locationY>
        <defaultConnector>
            <targetReference>Everything_Set_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COVIDTestHVNeedsCreation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCovidTestVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Attendee_has_proof_of_a_recent_72hr_PCR_24hr_Rapid_negative_COVID_19_test_result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Attendee_ID_matches_the_information_provided_above</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CovidTest_HV</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Everything_Set</name>
        <label>Everything Set?</label>
        <locationX>958</locationX>
        <locationY>1710</locationY>
        <defaultConnector>
            <targetReference>VerifyProtocols</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Requirements_Met</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>isCovidTestVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isVaxVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objAttendee.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Information</targetReference>
            </connector>
            <label>All Requirements Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>Everything_Set_0</name>
        <label>Everything Set 2?</label>
        <locationX>1481</locationX>
        <locationY>2542</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_That_somethings_not_met</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Requirements_Met_0</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>isCovidTestVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isVaxVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objAttendee.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Attendee_ID_matches_the_information_provided_above</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Information</targetReference>
            </connector>
            <label>All Requirements Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vax_HV_Needs_to_be_Created</name>
        <label>Vax HV Needs to be Created?</label>
        <locationX>1571</locationX>
        <locationY>1799</locationY>
        <defaultConnector>
            <targetReference>CovidTest_HV_Needs_to_be_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VaxHVNeedsCreation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isVaxVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Attendee_has_a_Vaccine_Card_that_confirms_they_are_fully_vaccinated_Fully_vaccin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Attendee_ID_matches_the_information_provided_above</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Vax_HV</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_needs_to_be_updated</name>
        <label>What needs to be updated?</label>
        <locationX>392</locationX>
        <locationY>2190</locationY>
        <defaultConnector>
            <targetReference>Check_In_Attendee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nothingneedsupdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objAttendee.Dreampass_Checkin_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete</targetReference>
            </connector>
            <label>Nothing</label>
        </rules>
        <rules>
            <name>PCRAdministeredYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OPTIONAL_Attendee_has_proof_of_pending_onsite_PCR_Test_NOT_REQUIRED_FOR_CHECKIN</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_In_Attendee_0</targetReference>
            </connector>
            <label>Checkin and PCR</label>
        </rules>
    </decisions>
    <interviewLabel>Davos Quick Check-in {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Davos Quick Check-in</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CovidTest_HV</name>
        <label>Create Covid Test HV</label>
        <locationX>1383</locationX>
        <locationY>2092</locationY>
        <assignRecordIdToReference>testHVId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Record_for_QR_0</targetReference>
        </connector>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>objAttendee.PersonBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>objAttendee.Dreampass_CompanyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dreampass_AttendeeType__c</field>
            <value>
                <elementReference>objAttendee.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__EmailToReceiveNotifications__c</field>
            <value>
                <elementReference>objAttendee.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__EventDate__c</field>
            <value>
                <dateValue>2022-05-22</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__ExternalId__c</field>
            <value>
                <stringValue>covidtest-{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__FirstName__c</field>
            <value>
                <elementReference>objAttendee.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HasNotificationConsent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HasReadTerms__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HealthVerificationDocumentDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HealthVerificationMethod__c</field>
            <value>
                <stringValue>Negative COVID-19 test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HealthVerificationStatus__c</field>
            <value>
                <stringValue>Verified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__Language__c</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__LastName__c</field>
            <value>
                <elementReference>objAttendee.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__PersonAccount__c</field>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__PhoneNumber__c</field>
            <value>
                <elementReference>objAttendee.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>vaxhv__Health_Verification__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Vax_HV</name>
        <label>Create Vax HV</label>
        <locationX>1386</locationX>
        <locationY>1815</locationY>
        <assignRecordIdToReference>testHVId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Record_for_QR_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>objAttendee.PersonBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>objAttendee.Dreampass_CompanyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dreampass_AttendeeType__c</field>
            <value>
                <elementReference>objAttendee.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__EmailToReceiveNotifications__c</field>
            <value>
                <elementReference>objAttendee.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__EventDate__c</field>
            <value>
                <dateValue>2022-05-22</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__ExternalId__c</field>
            <value>
                <stringValue>vax-{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__FirstName__c</field>
            <value>
                <elementReference>objAttendee.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HasNotificationConsent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HasReadTerms__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HealthVerificationDocumentDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HealthVerificationMethod__c</field>
            <value>
                <stringValue>Proof of vaccination</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HealthVerificationStatus__c</field>
            <value>
                <stringValue>Verified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__Language__c</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__LastName__c</field>
            <value>
                <elementReference>objAttendee.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__PersonAccount__c</field>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__PhoneNumber__c</field>
            <value>
                <elementReference>objAttendee.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>vaxhv__Health_Verification__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Attendee</name>
        <label>Get Existing Attendee</label>
        <locationX>1208</locationX>
        <locationY>586</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attendee_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>objAttendee</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>PersonBirthdate</queriedFields>
        <queriedFields>Dreampass_CompanyName__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Dreampass_Checkin_Time__c</queriedFields>
        <queriedFields>Dreampass_OnsitePCRTestDate__c</queriedFields>
        <queriedFields>Dreampass_Revoked__c</queriedFields>
        <queriedFields>Dreampass_DreambandID__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Dreampass_PhotoURL__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Check_In_Attendee</name>
        <label>Check In Attendee</label>
        <locationX>533</locationX>
        <locationY>2327</locationY>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dreampass_Checkin_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Check_In_Attendee_0</name>
        <label>Check In Attendee and document test</label>
        <locationX>250</locationX>
        <locationY>2400</locationY>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dreampass_Checkin_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dreampass_OnsitePCRTestDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_for_QR_0</name>
        <label>Update Record for QR</label>
        <locationX>1176</locationX>
        <locationY>2145</locationY>
        <connector>
            <targetReference>Get_Covid_Test_Status_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>testHVId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>safetycloud__TestDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__PersonAccount__c</field>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </inputAssignments>
        <object>vaxhv__Health_Verification__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_for_QR_0_0</name>
        <label>Update Record for QR</label>
        <locationX>1189</locationX>
        <locationY>1865</locationY>
        <connector>
            <targetReference>Get_Vax_Status_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>testHVId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>vaxhv__PersonAccount__c</field>
            <value>
                <elementReference>objAttendee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__VaccineBrandName__c</field>
            <value>
                <stringValue>Pfizer-BioNTech</stringValue>
            </value>
        </inputAssignments>
        <object>vaxhv__Health_Verification__c</object>
    </recordUpdates>
    <screens>
        <name>Complete</name>
        <label>Complete</label>
        <locationX>407</locationX>
        <locationY>2518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>spacercomplete</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>checkimage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>bluecheck</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>60</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dispTextComplete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(3, 45, 96); font-size: 36px;&quot;&gt;﻿Check In Complete!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;A Dreampass was emailed to &quot;&lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!objAttendee.PersonEmail}&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&quot;. Have them use this to gain access to all Salesforce Spaces.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Note: this Dreampass will be valid for 36hrs. Please inform them to&lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt; receive an onsite PCR test &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;(if they haven&apos;t already done so) to extend the Dreampass for the remainder of the event.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(3, 45, 96); font-size: 36px;&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_0</name>
        <label>Error Screen</label>
        <locationX>2107</locationX>
        <locationY>1945</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VerifyProtocols</targetReference>
        </connector>
        <fields>
            <name>DisplayAttendeeInfo_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(3, 45, 96); font-size: 36px;&quot;&gt;There&apos;s a Problem&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!strErrorText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Information</name>
        <label>Review Information</label>
        <locationX>736</locationX>
        <locationY>1906</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Upload_Profile_Picture</targetReference>
        </connector>
        <fields>
            <name>DisplayAttendeeInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(3, 45, 96); font-size: 36px;&quot;&gt;Review Attendee Info&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!reviewText}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Review_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>alreadycheckedintext</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 104, 75);&quot;&gt;Attendee already checked in&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>objAttendee.Dreampass_Checkin_Time__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ReviewDisplayText</name>
                    <fieldText>&lt;p&gt;Name&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Attendee Type&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Date of Birth&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.PersonBirthdate}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Email&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.PersonEmail}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Company&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96); background-color: rgb(255, 255, 255);&quot;&gt;{!objAttendee.Dreampass_CompanyName__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>covidTestTile</name>
                    <extensionName>c:Dreampass_HVTile</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayText</name>
                        <value>
                            <elementReference>CovidTestText</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Information_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VaccineTile</name>
                    <extensionName>c:Dreampass_HVTile</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayText</name>
                        <value>
                            <elementReference>VaccineText</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>objAttendee.Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Guest</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>objAttendee.Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>VIP</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Check in</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Profile_Picture</name>
        <label>Upload Profile Picture</label>
        <locationX>739</locationX>
        <locationY>2127</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_needs_to_be_updated</targetReference>
        </connector>
        <fields>
            <name>displayPhotoUpload</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(3, 45, 96); font-size: 36px;&quot;&gt;Upload Profile Picture&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Profile picture for &lt;b&gt;{!objAttendee.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>profilePicSettext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(218, 105, 105);&quot;&gt;Profile picture already set&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>objAttendee.Dreampass_PhotoURL__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>uploadPicture</name>
            <extensionName>c:captureImageWebCam</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>objAttendee.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Skip</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VerifyProtocols</name>
        <label>Verify Documents</label>
        <locationX>2106</locationX>
        <locationY>1545</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Covid_Test_Status_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayAttendeeInfo_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px; color: rgb(3, 45, 96);&quot;&gt;Verify Documents&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;This attendee needs to have protocol documents verified before we can issue a Dreampass. Please manually check each of these documents for this attendee to verify.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VerifyProtocols_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VerifyProtocols_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>attendeeinfo1</name>
                    <fieldText>&lt;p&gt;Name:&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Attendee Type:&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Company:&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.Dreampass_CompanyName__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>VerifyProtocols_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>attendeeinfo2</name>
                    <fieldText>&lt;p&gt;Date of Birth:&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.PersonBirthdate}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Email:&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(3, 45, 96);&quot;&gt;{!objAttendee.PersonEmail}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Attendee_ID_matches_the_information_provided_above</name>
            <dataType>Boolean</dataType>
            <fieldText>Attendee ID matches the information provided above, and attendee has accepted the terms and conditions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Attendee_has_a_Vaccine_Card_that_confirms_they_are_fully_vaccinated_Fully_vaccin</name>
            <dataType>Boolean</dataType>
            <fieldText>Attendee has a Vaccine Card that confirms they are fully vaccinated. (Fully vaccinated is THREE doses)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>objAttendee.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Guest</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>isVaxVerified</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Attendee_has_proof_of_a_recent_72hr_PCR_24hr_Rapid_negative_COVID_19_test_result</name>
            <dataType>Boolean</dataType>
            <fieldText>Attendee has proof of a recent (72hr PCR, 24hr Rapid) negative COVID-19 test result</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isCovidTestVerified</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OPTIONAL_Attendee_has_proof_of_pending_onsite_PCR_Test_NOT_REQUIRED_FOR_CHECKIN</name>
            <dataType>Boolean</dataType>
            <fieldText>OPTIONAL: Attendee has proof of pending onsite PCR Test (NOT REQUIRED FOR CHECK IN)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>objAttendee.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>aaa</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1055</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Existing_Attendee</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CovidTestText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Negative COVID-19 Test Verified</stringValue>
        </value>
    </variables>
    <variables>
        <name>CreatedAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateNewAttendee</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>dupCreateDuplicate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>dupUseExisting</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isCovidTestVerified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isVaxVerified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>objAttendee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reviewText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Please confirm the information below matches the attendee&apos;s ID</stringValue>
        </value>
    </variables>
    <variables>
        <name>scanvalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSearchAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strErrorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testHVId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VaccineText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Vaccination Verified</stringValue>
        </value>
    </variables>
    <variables>
        <name>VIPAccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
