force-app/main/default/flows/Dreampass_Extend_Onsite_PCR_Time.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_New_TestDate</name>
        <label>Set New TestDate</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Try_to_Get_Onsite_PCR_Test.safetycloud__TestDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Dreampass_OnsitePCRTestDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_HV</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>HV_Status</name>
        <label>HV Status</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Try_to_Get_Onsite_PCR_Test</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_an_onsite_PCR_HV</targetReference>
            </connector>
            <label>Not found</label>
        </rules>
        <rules>
            <name>Status_is_New_Waiting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Try_to_Get_Onsite_PCR_Test.vaxhv__HealthVerificationStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_TestDate</targetReference>
            </connector>
            <label>Status is New (Waiting)</label>
        </rules>
    </decisions>
    <interviewLabel>Dreampass - Extend Onsite PCR Time {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dreampass - Extend Onsite PCR Time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_an_onsite_PCR_HV</name>
        <label>Create an onsite PCR HV</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>safetycloud__OccurrenceId__c</field>
            <value>
                <stringValue>onsitepcr</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>safetycloud__TestDateTime__c</field>
            <value>
                <elementReference>$Record.Dreampass_OnsitePCRTestDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__EmailToReceiveNotifications__c</field>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__EventDate__c</field>
            <value>
                <dateValue>2022-05-22</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__ExternalId__c</field>
            <value>
                <stringValue>onsitepcrtest-{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__FirstName__c</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HasNotificationConsent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HasReadTerms__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HealthVerificationDocumentDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HealthVerificationMethod__c</field>
            <value>
                <stringValue>Negative COVID-19 test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HealthVerificationStatus__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__Language__c</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__LastName__c</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__PersonAccount__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>vaxhv__Health_Verification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Try_to_Get_Onsite_PCR_Test</name>
        <label>Try to Get Onsite PCR Test</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HV_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vaxhv__PersonAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>vaxhv__HealthVerificationMethod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Negative COVID-19 test</stringValue>
            </value>
        </filters>
        <filters>
            <field>safetycloud__OccurrenceId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>onsitepcr</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vaxhv__Health_Verification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_HV</name>
        <label>Update HV</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputReference>Try_to_Get_Onsite_PCR_Test</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Try_to_Get_Onsite_PCR_Test</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dreampass_OnsitePCRTestDate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Dreampass_OnsitePCRTestDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
