force-app/main/default/flows/Generate_Apple_Wallet_Pass_from_Check_in.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Dreampass</name>
        <label>Email Dreampass</label>
        <locationX>370</locationX>
        <locationY>1062</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>Get_OrgWideAddress.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Health_Verification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Apple_Wallet_Dreampass</name>
        <label>Generate Apple Wallet Dreampass</label>
        <locationX>184</locationX>
        <locationY>708</locationY>
        <actionName>DreamPassWalletController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Content_Document_Links</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HVID</name>
            <value>
                <elementReference>Get_Health_Verification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WalletSetting</name>
            <value>
                <elementReference>AppleWalletSetting</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>contentDocumentLinkId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Valid_Health_Verification</name>
        <label>Valid Health Verification?</label>
        <locationX>653</locationX>
        <locationY>482</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Health_Verification</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OrgWideAddress</targetReference>
            </connector>
            <label>isValid</label>
        </rules>
    </decisions>
    <interviewLabel>Generate Apple Wallet Pass from Check in {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Apple Wallet Pass from Check in</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>522</locationX>
        <locationY>936</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Dreampass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document_Links</name>
        <label>Get Content Document Links</label>
        <locationX>184</locationX>
        <locationY>850</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contentDocumentLinkId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>417</locationX>
        <locationY>817</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email_4_Dreampass_Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Health_Verification</name>
        <label>Get Health Verification</label>
        <locationX>654</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Health_Verification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vaxhv__PersonAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>vaxhv__HealthVerificationMethod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Negative COVID-19 test</stringValue>
            </value>
        </filters>
        <filters>
            <field>vaxhv__HealthVerificationStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Verified</stringValue>
            </value>
        </filters>
        <filters>
            <field>safetycloud__AccessEndTime__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vaxhv__Health_Verification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OrgWideAddress</name>
        <label>Get OrgWideAddress</label>
        <locationX>409</locationX>
        <locationY>673</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce Safety Cloud</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dreampass_Checkin_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Health_Verification</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AppleWalletSetting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DavosDreampass</stringValue>
        </value>
    </variables>
    <variables>
        <name>contentDocumentLinkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strToEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
