force-app/main/default/flows/Health_Verification_Status_Change_Email_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Received_Email</name>
        <label>Send Received Email</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>orgWideId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
            <value>
                <elementReference>emailTemplateId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_RecordId</name>
        <label>Assign RecordId</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Status_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Template</name>
        <label>Assign Template</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00X8b000002X7flEAC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Received_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Template_0</name>
        <label>Assign Template</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00X8b000002X7fqEAC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Received_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Template_0_0</name>
        <label>Assign Template</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00X8b000002X7fvEAC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Received_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Template_0_0_0</name>
        <label>Assign Template</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00X8b000002X7g0EAC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Received_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Template_0_0_0_0</name>
        <label>Assign Template</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00X8b000002X7g5EAC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Received_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Template_0_0_0_0_0</name>
        <label>Assign Template</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00X8b000002X7gAEAS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Received_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Status_Change</name>
        <label>Determine Status Change</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VaxNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HVisNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proof of vaccination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Template</targetReference>
            </connector>
            <label>VaxNew</label>
        </rules>
        <rules>
            <name>VaxVerified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proof of vaccination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Template_0</targetReference>
            </connector>
            <label>VaxVerified</label>
        </rules>
        <rules>
            <name>VaxRejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proof of vaccination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Template_0_0</targetReference>
            </connector>
            <label>VaxRejected</label>
        </rules>
        <rules>
            <name>TestNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HVisNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negative COVID-19 test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Template_0_0_0</targetReference>
            </connector>
            <label>TestNew</label>
        </rules>
        <rules>
            <name>TestVerified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negative COVID-19 test</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Template_0_0_0_0</targetReference>
            </connector>
            <label>TestVerified</label>
        </rules>
        <rules>
            <name>TestRejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negative COVID-19 test</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Template_0_0_0_0_0</targetReference>
            </connector>
            <label>TestRejected</label>
        </rules>
    </decisions>
    <formulas>
        <name>HVisNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp; TEXT({!$Record.vaxhv__HealthVerificationStatus__c}) == &apos;New&apos;</expression>
    </formulas>
    <interviewLabel>Health Verification Status Change - Email Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Health Verification Status Change - Email Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>842</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_RecordId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.vaxhv__PersonAccount__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>safetycloud__OccurrenceId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>vaxhv__Health_Verification__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>emailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orgWideId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0D28b000000sYZ2CAM</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
