force-app/main/default/flows/Health_Verification_Status_Change_Email_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_the_Email</name>
        <label>Send the Email</label>
        <locationX>536</locationX>
        <locationY>1319</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>orgWideId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <elementReference>emailTemplateName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Template</name>
        <label>Assign Template</label>
        <locationX>37</locationX>
        <locationY>1156</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email 2: Vaccine Verification Upload Received</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_the_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Template_0</name>
        <label>Assign Template</label>
        <locationX>228</locationX>
        <locationY>1402</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email 2a: Vaccine Verification Results (ACCEPTED)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_the_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Template_0_0</name>
        <label>Assign Template</label>
        <locationX>360</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email 2b: Vaccine Verification Results (REJECTED)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_the_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Template_0_0_0</name>
        <label>Assign Template</label>
        <locationX>624</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email 3: Safety Cloud Test Result Upload Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_the_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Template_0_0_0_0</name>
        <label>Assign Template</label>
        <locationX>836</locationX>
        <locationY>1152</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email 3a: Pre-Travel test Results Verified (ACCEPTED)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_the_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Template_0_0_0_0_0</name>
        <label>Assign Template</label>
        <locationX>1279</locationX>
        <locationY>1143</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email 3b: Pre-Travel Test Results Verification (REJECTED)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_the_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>536</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.vaxhv__PersonAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Person_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Person_Account.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.vaxhv__FirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Person_Account.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.vaxhv__LastName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Person_Account.Dreampass_CompanyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Person_Account.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.vaxhv__PhoneNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Person_Account.PersonBirthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BirthDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upodate_HV</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Status_Change</name>
        <label>Determine Status Change</label>
        <locationX>536</locationX>
        <locationY>983</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckIn_Flow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.vaxhv__ExternalId__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>covidtest-</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vaxhv__ExternalId__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>vax-</stringValue>
                </rightValue>
            </conditions>
            <label>CheckIn Flow</label>
        </rules>
        <rules>
            <name>VaxNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HVisNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proof of vaccination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Template</targetReference>
            </connector>
            <label>VaxNew</label>
        </rules>
        <rules>
            <name>VaxVerified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proof of vaccination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Template_0</targetReference>
            </connector>
            <label>VaxVerified</label>
        </rules>
        <rules>
            <name>VaxRejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proof of vaccination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Template_0_0</targetReference>
            </connector>
            <label>VaxRejected</label>
        </rules>
        <rules>
            <name>TestNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HVisNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negative COVID-19 test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Template_0_0_0</targetReference>
            </connector>
            <label>TestNew</label>
        </rules>
        <rules>
            <name>TestVerified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negative COVID-19 test</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Template_0_0_0_0</targetReference>
            </connector>
            <label>TestVerified</label>
        </rules>
        <rules>
            <name>TestRejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negative COVID-19 test</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vaxhv__HealthVerificationStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Template_0_0_0_0_0</targetReference>
            </connector>
            <label>TestRejected</label>
        </rules>
    </decisions>
    <formulas>
        <name>HVisNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp; TEXT({!$Record.vaxhv__HealthVerificationStatus__c}) == &apos;New&apos;</expression>
    </formulas>
    <interviewLabel>Health Verification Status Change - Email Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Health Verification Status Change - Email Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>536</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Status_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.vaxhv__PersonAccount__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account</name>
        <label>Get Person Account</label>
        <locationX>536</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.vaxhv__EmailToReceiveNotifications__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Person_Account</name>
        <label>Update Person Account</label>
        <locationX>536</locationX>
        <locationY>743</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <inputReference>Get_Person_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upodate_HV</name>
        <label>Upodate HV</label>
        <locationX>536</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>Update_Person_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>vaxhv__PersonAccount__c</field>
            <value>
                <elementReference>Get_Person_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>safetycloud__OccurrenceId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>vaxhv__Health_Verification__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>emailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailToAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orgWideId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0D28b000000sYZ2CAM</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
