force-app/main/default/flows/Set_Covid_Test_Results.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AssignPCRVars</name>
        <label>AssignPCRVars</label>
        <locationX>1226</locationX>
        <locationY>635</locationY>
        <assignmentItems>
            <assignToReference>onsitePCRExists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Test_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPreVars</name>
        <label>AssignPreVars</label>
        <locationX>735</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>PreTestExists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Onsite_PCR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>1378</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Get_preTest.vaxhv__TestResult__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Antigen_Result</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Antigen_Test</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_0</name>
        <label>Update Status</label>
        <locationX>1627</locationX>
        <locationY>1217</locationY>
        <assignmentItems>
            <assignToReference>Get_Onsite_PCR.vaxhv__TestResult__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_PCR_Result</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PCR</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Negative</name>
        <choiceText>Negative</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Negative</stringValue>
        </value>
    </choices>
    <choices>
        <name>Positive</name>
        <choiceText>Positive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Positive</stringValue>
        </value>
    </choices>
    <decisions>
        <name>PCR_Exists</name>
        <label>PCR Exists?</label>
        <locationX>1144</locationX>
        <locationY>470</locationY>
        <defaultConnector>
            <targetReference>Set_Test_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PCRExistYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Onsite_PCR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPCRVars</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PreText_Exists</name>
        <label>PreText Exists?</label>
        <locationX>853</locationX>
        <locationY>253</locationY>
        <defaultConnector>
            <targetReference>Get_Onsite_PCR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>preexistYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_preTest</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPreVars</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Antigen_Action</name>
        <label>What Antigen Action?</label>
        <locationX>1368</locationX>
        <locationY>762</locationY>
        <defaultConnector>
            <targetReference>What_PCR_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateAntigen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreTestExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Antigen_Result</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Antigen_Test</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>UpdateAntigen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreTestExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Antigen_Result</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_PCR_Action</name>
        <label>What PCR Action?</label>
        <locationX>1619</locationX>
        <locationY>1022</locationY>
        <defaultConnector>
            <targetReference>Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreatePCR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>onsitePCRExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_PCR_Result</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PCR_Test</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>UpdateAntigen_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>onsitePCRExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_PCR_Result</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_0</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <interviewLabel>Set Covid Test Results {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Covid Test Results</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Antigen_Test</name>
        <label>Create Antigen Test</label>
        <locationX>1598</locationX>
        <locationY>765</locationY>
        <connector>
            <targetReference>What_PCR_Action</targetReference>
        </connector>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>Get_Attendee.PersonBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>Get_Attendee.Dreampass_CompanyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dreampass_AttendeeType__c</field>
            <value>
                <elementReference>Get_Attendee.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__EmailToReceiveNotifications__c</field>
            <value>
                <elementReference>Get_Attendee.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__EventDate__c</field>
            <value>
                <dateValue>2022-05-22</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__ExternalId__c</field>
            <value>
                <stringValue>covidtest-{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__FirstName__c</field>
            <value>
                <elementReference>Get_Attendee.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HasNotificationConsent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HasReadTerms__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HealthVerificationDocumentDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HealthVerificationMethod__c</field>
            <value>
                <stringValue>Negative COVID-19 test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__Language__c</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__LastName__c</field>
            <value>
                <elementReference>Get_Attendee.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__PersonAccount__c</field>
            <value>
                <elementReference>Get_Attendee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__PhoneNumber__c</field>
            <value>
                <elementReference>Get_Attendee.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__TestResult__c</field>
            <value>
                <elementReference>Set_Antigen_Result</elementReference>
            </value>
        </inputAssignments>
        <object>vaxhv__Health_Verification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_PCR_Test</name>
        <label>Create PCR Test</label>
        <locationX>2058</locationX>
        <locationY>1078</locationY>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>Get_Attendee.PersonBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>Get_Attendee.Dreampass_CompanyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dreampass_AttendeeType__c</field>
            <value>
                <elementReference>Get_Attendee.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>safetycloud__OccurrenceId__c</field>
            <value>
                <stringValue>onsitepcr</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__EmailToReceiveNotifications__c</field>
            <value>
                <elementReference>Get_Attendee.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__EventDate__c</field>
            <value>
                <dateValue>2022-05-22</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__ExternalId__c</field>
            <value>
                <stringValue>covidtest-{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__FirstName__c</field>
            <value>
                <elementReference>Get_Attendee.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HasNotificationConsent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HasReadTerms__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HealthVerificationDocumentDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__HealthVerificationMethod__c</field>
            <value>
                <stringValue>Negative COVID-19 test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__Language__c</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__LastName__c</field>
            <value>
                <elementReference>Get_Attendee.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__PersonAccount__c</field>
            <value>
                <elementReference>Get_Attendee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__PhoneNumber__c</field>
            <value>
                <elementReference>Get_Attendee.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vaxhv__TestResult__c</field>
            <value>
                <elementReference>Set_PCR_Result</elementReference>
            </value>
        </inputAssignments>
        <object>vaxhv__Health_Verification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Attendee</name>
        <label>Get Attendee</label>
        <locationX>684</locationX>
        <locationY>101</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_preTest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Onsite_PCR</name>
        <label>Get Onsite PCR</label>
        <locationX>983</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PCR_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vaxhv__HealthVerificationMethod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Negative COVID-19 test</stringValue>
            </value>
        </filters>
        <filters>
            <field>vaxhv__PersonAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Attendee.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>safetycloud__OccurrenceId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>onsitepcr</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vaxhv__Health_Verification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_preTest</name>
        <label>Get preTest</label>
        <locationX>584</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PreText_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vaxhv__PersonAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Attendee.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>vaxhv__HealthVerificationMethod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Negative COVID-19 test</stringValue>
            </value>
        </filters>
        <filters>
            <field>safetycloud__OccurrenceId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vaxhv__Health_Verification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Antigen_Test</name>
        <label>Update Antigen Test</label>
        <locationX>1378</locationX>
        <locationY>1126</locationY>
        <connector>
            <targetReference>What_PCR_Action</targetReference>
        </connector>
        <inputReference>Get_preTest</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PCR</name>
        <label>Update PCR</label>
        <locationX>1631</locationX>
        <locationY>1373</locationY>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <inputReference>Get_Onsite_PCR</inputReference>
    </recordUpdates>
    <screens>
        <name>Complete</name>
        <label>Complete</label>
        <locationX>1851</locationX>
        <locationY>1505</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>spacercomplete</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>checkimage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>bluecheck</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>60</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dispTextComplete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(3, 45, 96); font-size: 36px;&quot;&gt;Status Update Complete!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(3, 45, 96); font-size: 36px;&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Test_Results</name>
        <label>Set Test Results</label>
        <locationX>1484</locationX>
        <locationY>554</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_Antigen_Action</targetReference>
        </connector>
        <fields>
            <name>DispTextStart</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px; color: rgb(3, 45, 96);&quot;&gt;Set Test Results&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Use this flow to set test results for &lt;b&gt;{!Get_Attendee.Name}&lt;/b&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Set_Test_Results_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Test_Results_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispTextantigen</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Antigen / Pre-Test&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>dispNoChangepre</name>
                    <fieldText>&lt;p&gt;Test results already submitted: &lt;b&gt;{!Get_preTest.vaxhv__HealthVerificationStatus__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;No changes can be made by this user.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PreTestExists</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_preTest.vaxhv__HealthVerificationStatus__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>New</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Set_Antigen_Result</name>
                    <choiceReferences>Positive</choiceReferences>
                    <choiceReferences>Negative</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Set Antigen Result</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>PreTestExists</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_preTest.vaxhv__HealthVerificationStatus__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_Test_Results_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispPCR</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;PCR Test&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>dispNoChangePCR</name>
                    <fieldText>&lt;p&gt;Test results already submitted: &lt;b&gt;{!Get_Onsite_PCR.vaxhv__HealthVerificationStatus__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;No changes can be made by this user.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>onsitePCRExists</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Onsite_PCR.vaxhv__HealthVerificationStatus__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>New</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Set_PCR_Result</name>
                    <choiceReferences>Positive</choiceReferences>
                    <choiceReferences>Negative</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Set PCR Result</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>onsitePCRExists</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Onsite_PCR.vaxhv__HealthVerificationStatus__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1055</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Attendee</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>onsitePCRExists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PreTestExists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
